endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=localhost;database=essentialmode;userid=root;password="
set es_enableCustomData 1
sv_maxclients 32
#sv_licenseKey
exec sv_licenseKey.cfg

sv_scriptHookAllowed 1

load_server_icon nyan.png

#rcon_password blablablabla

sv_hostname "^1[VN]^2[vietnam]^3GTA 5 RolePlay ^4Vóng Family Mind ^9[TESTING]"
sets tags "default, roleplay, esx"
set temp_convar "hey world!"

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam?
#sv_authMaxVariance 1
#sv_authMinTrust 1

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:1100001173735d1 group.admin # add the admin to the group
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow
add_ace resource.uptime command.sets allow

# hide player endpoints in external log output
#sv_endpointprivacy true

#start
exec start.cfg